
body{
    font-family: 'Montserrat', sans-serif;
   
}
.picture{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-left: 2%;
}
#logo{
    display: flex;
    gap: 20px;
    align-items: center;
}

.dashboard{
    word-spacing: 25px;
    margin-left: 18%;
}
.dashboard a {
    text-decoration: none;
    color: #000000;
}

.tight-text{
    word-spacing: -0px;
}
.message{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 30%;
    cursor: pointer;
}
.notif{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}
.profile{
    width: 90px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 2%;
    cursor: pointer;
}
html, body {
    margin: 0;
  }
.discover{
    border: 10px;
    box-sizing: border-box;
    padding: 100px;
    width: fill;
    height: 400px;
    margin: 0;
    background-clip: padding-box;
    background: url('image/cc.jpg') no-repeat center/cover;

}
.overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 61.5%;
    position: absolute;
    top: 80px;
    left: 0;
}
.info{
    font-size: 30px;
    color: rgb(236, 234, 82);
    position:absolute;
    top: 20%;
    left: 45%;
    z-index: 1;
}
.text{
    z-index: 1;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 35%;
    left: 45%;
}

.search-bar {
    font-size: 16px;
    position: absolute;
    left: 45%;
    top: 45%;
    display: flex;
    width: 500px;
    margin: 0 auto;
}
.search-bar input[type="text"] {
     flex: 1;
     padding: 20px;
     border: none;
     border-radius: 10px 0 0 10px;
    outline: none;
 }
 .search-bar button {
    background-color: rgb(235, 232, 67);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.dashboard a.active-dash{
    border-bottom: 2px solid #333;
    font-weight: bold;
    color: #333;
}
.filter{
    font-size: 15px;
    width: 5%;
    text-align: center;
    padding: 5px;
    border: 0.5px solid #6e6d6d;
    border-radius: 10px;
    position: absolute;
    top: 77%;
    left: 80%;
}
.container{
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
    top:100px; 
    position: relative;
    gap: 20px;

}
.card{
    width: 250px;
    height: 280px;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.03);


}
.card-image{
    background-color: rgb(245, 245, 159);
    height: 180px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 

}
.card-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 15px 15px;

}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    margin: -7px 5px;

}
/*carousel slider*/
.carousel-container {
    position: relative;
    width: 650px;
    overflow: hidden;
    font-size: 17px;
    padding: 5px;
    position: absolute;
    display: flex;
    gap: 20px;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-slide {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    min-width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #000;
    background: transparent;
    margin-left:7px;
}
.slide:active{
    font-weight: bold;
    color: #333;
}

.carousel-slide a {
    text-decoration: none;
    color: inherit;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ecf029;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.carousel-btn:hover {
    opacity: 1;
}

.prev { left: 5px; }
.next { right: 5px; }

.info-about{
    font-size: 35px;
    color: rgb(243, 240, 66);
    position:absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.discover-about{
    background: url('image/about.jpg') no-repeat center/cover;
    padding: 70px;
    height: 100px;
    width: fill;
}

.about-img{
    width: 500px;
    height: 350px;
    margin-left: 40px;
    margin-top: 30px;
}
.overlay-about-img{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 500px;
    height: 350px;
    margin-left: 40px;
    margin-top: 30px;
}
.taskflow{
    margin-left: 40px;
    font-size: 30px;
   color: #e2d308;
   margin-bottom: -10px;
}
.about{
    display: flex;
    align-items: center;
    gap: 30px;
}
.about-text{
    font-size: 15px;
    display: flex;
    margin-right: 40px;
    margin-top: -5px;
}
.about-card{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 10%;
    padding: 8px;
    border: .5px solid #808080;
    background-color: rgb(245, 245, 138);
    border-radius: 10px;
    text-align: center;
}
.mission{
    width: 30%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}
.mission-list, .vision-list{
    display: flex;
    width: 100%;
    text-align: justify;
    padding: 5px;
    
}
.vision{
   margin-left: 70px;
   width: 30%;
   display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}
.mis-vis{
    display: flex;
    align-items: center;
    justify-content: center;
}
.developers{
    margin-left: 40px;
    width: 10%;
    padding: 8px;
    border: .5px solid #808080;
    background-color: rgb(245, 245, 138);
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}
.developer-container{
    display: flex;
    justify-content: center;
    margin-bottom: -35px;

}
.developer-card{
    margin: 30px;  
    position:relative;
}
.developer-image{
    box-shadow: 0 4px 10px rgba(90, 90, 90, 0.2); 
    border: .5px solid #808080;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.developer-image img{
    object-fit: cover;
    width: 50%;
    height: 50%;
    border-radius: 50px;
    margin-bottom: 10px;
}
.developer-image h6{
    margin: 2px 0 0 0;
    color: #555;
}
.discover-find-job{
    padding: 70px;
    height: 100px;
    text-align: center;
    background: url('image/cc.jpg') no-repeat center/cover;

}
.info-find-job{
    font-size: 35px;
    color: rgb(238, 235, 72);
    position:absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
}
.overlay-find{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 37%;
    position: absolute;
    top: 80px;
    left: 0;
}
.search-bar-job{
    width: 55%;
    height: 35px;
    padding: 7px;
    border: .5px solid #969696;
    border-radius: 10px;
    font-size: 14px;
    position:absolute;
    right: 35%;
    top: 55%;
    box-shadow: 0 4px 10px rgba(153, 153, 153, 0.2); 
    outline: none;
}
.category{
    width: 20%;
    height: 55%;
    padding: 7px;
    border: .5px solid #969696;
    border-radius: 10px;
    font-size: 14px;
    position:absolute;
    left: 70%;
    top: 55%;
    box-shadow: 0 4px 10px rgba(153, 153, 153, 0.2); 

}
.categories{
    position: relative;
    left: 5%;
}
.category-type{
    position: relative;
    left: 5%;
}
.post{
    position:absolute;
    left: 9%;
    top: 65%;
    color: #414040;
}
.company{
    width: 740px;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(134, 134, 134, 0.2); 
}
.header img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.date{
    margin-left:400px ;
    color: #555;
}
.position{
    margin-top: -3%;
    margin-left: 2%;
    font-weight: bold;
    font-size: 15px;
    margin-bottom:1% ;
}
.price{
    margin-left: 2%;
    margin-bottom: 2%;
}

.description{
    margin-left: 2%;
    font-size: 15px;
}
.buttons{
    display: flex;
    gap: 20px;
    font-size: 13px;
    margin-left: 370px;
    margin-bottom: 2%;
}
.btn{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.btn:hover {
    background-color: #e0e0e0;
}
.location{
    margin-top: -1.9%;
}
.company-container{
    position: absolute;
    top: 380px;
    left: 120px;
}
.sub-menu-wrap{
    position: absolute;
    top: 10%;
    right: 4%;
    width: 250px;
    z-index: 10;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open{
    max-height: 400px;
}
.sub-menu{
    background-color: rgb(255, 255, 234);
    padding: 10px;
    margin: 5px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h4{
    font-weight: 300px;
}
.user-info img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10%;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
    margin: 7px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin: 7px 0 10px 5px;
}
.sub-menu-link img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10%;
    
}
.sub-menu-link p{
    width: 50%;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p {
    font-weight: 600;
}
.profile-section img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: left;
}
.profile-section {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    left: 30%;
}
.profile-details{
    text-align: left;
}
.form-section {
    margin-top: 300px;
    display: flex;
    gap: 20px;
}
.form-left, .form-right {
    flex: 2;
    align-items: center;
    position: relative;
    left: 10%;
}
.form-detail, .details, .text-area {
    display: block;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-detail, .details{
    margin-bottom: 10px;
}

.form-left{
    border-right: 2px solid #ddd;
}
.form-right{
    padding-left: 50px;
    padding-right: 150px;
}
.btn-section {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin-top: 30px;
}
.btn-section button {
    background-color: #fad047;
    border: none;
    padding: 10px 20px;
    color: #fdf4c2;
    border-radius: 5px;
    cursor: pointer;
}
.btn-section .delete-btn {
    background-color: #ff706b;
}
.divider{
    border-top: 1px solid #ffed85;
    margin-top: 3px;
}


/*find-freelancer*/
.contents {
    display: flex;
    justify-content: space-center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    margin-left: 120px;
    margin-top: 150px;
    text-align: center;

}

.freelancers {
    width: 60%;
    gap: 20px;

}

.freelancer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cards {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: .5px solid #adadad;

}

.cards strong {
    display: block;
    margin: 10px 0;
}

.cards a {
    color: rgb(121, 121, 250);
    text-decoration: none;
    font-weight: bold;
}
.prof {
    width:60px;
    height:60px;
}
.profile-container {
    width: fill;
    padding: 5%;
    text-align: center;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom:5%;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    text-align: left;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
}

.location,
.job-title,
.follow-info {
    margin: 5px 0;
    color: gray;
    font-size: 14px;
}

.tabs {
    display: flex;
    justify-content:left;
    gap: 50px;
    margin-top: 10px;
    margin-left: 50px;
}

.tabs span {
    font-weight: bold;
    color: #555;
    cursor: pointer;
}

hr {
    margin-top: 20px;
    border: none;
    border-top: 2px solid lightgray;
}

.work-section {
    display: flex;
    justify-content: cleft;
    gap: 20px;
    margin-top: 20px;
}

.work-box {
    width: 300px;
    height: 150px;
    background-color: #ffe477;
    border-radius: 10px;
    
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.about-left, .about-right {
    width: 45%;
    margin-top: -60px;
}

.about-left h2, .about-right h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-left p, .about-right p {
    margin: 10px 0;
    font-size: 14px;
}

.divider-1 {
    margin-top: -60px;
    width: 2px;
    background-color: lightgray;
    height: 300px;
    align-self: stretch;  
}


